body {
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.jumbotron {
  background-color: #58f48c;
  display: flex;
}

.home-jumbotron {
  margin-top: 0;
  margin-bottom: 0;
}

.mustard-button {
  background-color: #dbc246;
  border: 0;
}

.buy-mustard-button a:link {
  text-decoration: none;
}

.buy-mustard-button a:visited {
  text-decoration: none;
}

.buy-mustard-button a:hover {
  text-decoration: underline;
}

.container-2 {
  background-color: #ccf7ff;
  height: 25em;
}

.h2-smells {
  margin-bottom: 1em;
}






/* SM SCREEN */
@media (min-width:768px) {
  .home-jumbotron {
    min-height: (100vh - 50px);
  }
}

/* MD SCREEN */
@media (min-width:992px) {

}

/* LG SCREEN */
@media (min-width:1200px) {

}
