body {
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.navbar {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.extra-nav {
  list-style-type: none;
  display: flex;
}

.jumbotron {
  background-color: #58f48c;
  display: flex;
}

.home-jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../img/mustard-flower.jpg");
  background-size: cover;
  display: flex;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

.mustard-button {
  background-color: #dbc246;
  border: 0;
}

.buy-mustard-button a:link {
  text-decoration: none;
}

.buy-mustard-button a:visited {
  text-decoration: none;
}

.buy-mustard-button a:hover {
  text-decoration: underline;
}

.container-2 {
  background-color: #ccf7ff;
  height: 100vh;
  background-image: url("../img/ClothesPin4_FreeVector.png");
}

.h4-smells {
  /* margin-bottom: 1em; */
}

.container-3 {
    display: flex;
    height: 100vh;
    background-color: #42c2f4;
  }


.flex-item-a {
  flex: 2;
  /* border: 1px solid black; */
}

.flex-item-b {
  flex: 1;
  /* border: 1px solid black; */
}

.flex-item-c {
  flex: 1;
  /* border: 1px solid black; */
}

.container-4 {
  display: flex;
  height: 50vh;
  background-color: #000000;
  margin: 0;
  justify-content: center;
}



/* SM SCREEN */
@media (min-width:768px) {
  .home-jumbotron {
    min-height: (100vh - 50px);
  }
  /* .container-3 {
    flex-direction: column;
  } I needed to make this a media query of max and not under minimum*/
}

@media (max-width:768px) {
  .container-3 {
    flex-direction: column;
  }
}

/* MD SCREEN */
@media (min-width:992px) {

}

/* LG SCREEN */
@media (min-width:1200px) {

}
